body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  line-height: 20px;
  background-color: #15393B;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
img {
  width: 240px;
}
.floating-container {
  background-color: #15393B;
  text-align: center;
  letter-spacing: 0.4px;
}
h3 {
  margin: 24px 0px 40px 0px;
  font-size: 14px;
  color: rgba(208, 209, 204,0.4);
  max-width: 400px;
  font-weight: 400;
  line-height: 20px;
}
p {
  font-size: 11px;
  color: rgba(208, 209, 204,0.9);
  max-width: 400px;
}
